#about-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2%;
  gap: 2%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px 10px 30px;
}

#about-grid-container img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: auto;
}

#about-grid-container p {
  text-align: left;
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #about-grid-container {
      display: grid;
      grid-template-columns: 1fr;
  }

  #about-grid-container p {
    text-align: left;
    font-size: 20px;
  }
}