<h1 class="section-header">Project</h1>
<div class="flex-container">
  <app-project-desc class="flex-items" name="Kong Cha Membership App">
    <app-slider-image image-comp [imagePaths]="[
    'assets/images/kong-cha1.png',
    'assets/images/kong-cha2.png',
  ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>A PWA App for a milk tea shop to provide loyalty program for customers. Clerk can update the points using the
        admin app.</p>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: ReactJS<br />
        Back-end: Nodejs + Expressjs + MongoDB
      </p>
    </div>
  </app-project-desc>
  <app-project-desc class="flex-items" name="Bigno Card">
    <app-slider-image image-comp [imagePaths]="[
    'assets/images/bingo1.png',
    'assets/images/bingo2.png',
    ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Instead of relying on traditional bingo cards, consider choosing a digital version of bingo card.</p>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: ReactJS<br />
        Back-end: Go + gqlgen + MongoDB
      </p>
      <h3>Github Link: </h3>
      <p>
        <a href="" target="_blank"></a>
        <br />
        <a href="https://github.com/elven118/bingo-server" target="_blank">https://github.com/elven118/bingo-server</a>
      </p>
    </div>
  </app-project-desc>
  <app-project-desc class="flex-items" name="HKUCS FYP Ride-sharing App For Hong Kong">
    <app-slider-image image-comp [imagePaths]="[
    'assets/images/ride-sharing-app1.jpg',
    'assets/images/ride-sharing-app2.jpg'
  ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Use simple algorithm to pair up two riders and assign a driver for them - one greedy and one advance algorithm.
        Also, a simple mobile app user interface</p>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: React Native + Expo<br />
        Back-end: Nodejs + Expressjs + MongoDB + Redis
      </p>
      <h3>Github Link: </h3>
      <p>
        <a href="https://github.com/eric19960304/Ridesharing-App-For-HK"
          target="_blank">https://github.com/eric19960304/Ridesharing-App-For-HK</a>
        <br />
        <a href="https://github.com/eric19960304/Ridesharing-App-For-HK-Back-End"
          target="_blank">https://github.com/eric19960304/Ridesharing-App-For-HK-Back-End</a>
      </p>
    </div>
  </app-project-desc>
</div>