<h1 class="section-header">Project</h1>
<div class="grid-container">
  <app-project-desc class="grid-item" name="Fairview Park Town Centre">
    <app-slider-image image-comp [imagePaths]="[
      'assets/images/fairviewparktc1.png',
      'assets/images/fairviewparktc2.png',
      'assets/images/fairviewparktc3.png',
      'assets/images/fairviewparktc4.png',
    ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>A comprehensive mobile app designed to enhance the shopping experience at Fairview Park Town Centre by
        integrating a digital loyalty program and personalized mall services. </p>
      <h3>Key Feature: </h3>
      <ul class="key-feature-list">
        <li>Digital membership registration with reward points & exclusive member discounts</li>
        <li>Up-to-date mall promotions and event notifications</li>
        <li>Interactive store locator with detailed operating hours</li>
      </ul>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: React Native<br />
        Back-end: Nodejs + Expressjs + PHP + Redis
      </p>
      <div class="store-badge-container">
        <a
          href='http://play.google.com/store/apps/details?id=com.fairviewparktc.fairviewparktc&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
            alt='Get it on Google Play' src='assets/images/google-play-badge.png' id="play-store-badge" /></a>
        <a href='https://apps.apple.com/ca/app/fairview-park-town-centre/id6744288395'><img
            alt='Download on the App Store' src='assets/images/app-store-badge.svg' id="app-store-badge" /></a>
      </div>
    </div>
  </app-project-desc>
  <app-project-desc class="grid-item" name="Kong Cha Membership App">
    <app-slider-image image-comp [imagePaths]="[
      'assets/images/kong-cha1.png',
      'assets/images/kong-cha2.png',
      'assets/images/kong-cha3.png',
    ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Digital loyalty solution enabling customers to earn/redeem points through purchases, with admin portal for
        staff to manage rewards.</p>
      <h3>Key Feature: </h3>
      <ul class="key-feature-list">
        <li>Purchase-based points earning and redeeming system for customer retention</li>
        <li>Staff portal for reward management and user analytics</li>
      </ul>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: ReactJS<br />
        Back-end: Nodejs + Expressjs + MongoDB
      </p>
    </div>
  </app-project-desc>
  <app-project-desc class="grid-item" name="Bingo Card">
    <app-slider-image image-comp [imagePaths]="[
      'assets/images/bingo1.png',
      'assets/images/bingo2.png',
      ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Cross-platform digital bingo solution with real-time card synchronization and multiplayer support.</p>
      <h3>Key Feature: </h3>
      <ul class="key-feature-list">
        <li>Instantly get a digital bingo by joining the room by code</li>
        <li>Admin console to manage number draw and card validate</li>
      </ul>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: ReactJS<br />
        Back-end: Golang + GraphQL (gqlgen) + MongoDB
      </p>
      <h3>Github Link: </h3>
      <p>
        <a href="" target="_blank"></a>
        <br />
        <a href="https://github.com/elven118/bingo-ui" target="_blank">https://github.com/elven118/bingo-ui</a>
        <br />
        <a href="https://github.com/elven118/bingo-server" target="_blank">https://github.com/elven118/bingo-server</a>
      </p>
    </div>
  </app-project-desc>
  <app-project-desc class="grid-item" name="QR Code Scanner">
    <app-slider-image image-comp [imagePaths]="[
      'assets/images/qrscan1.png',
      'assets/images/qrscan2.png',
      'assets/images/qrscan3.png',
      'assets/images/qrscan4.png'
    ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Contactless qr registration system with scan history tracking.</p>
      <h3>Key Feature: </h3>
      <ul class="key-feature-list">
        <li>Flutter-based QR code scanning with integrated camera functionality</li>
        <li>Local storage enabling offline access to scan records</li>
      </ul>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: Flutter
      </p>
      <h3>Github Link: </h3>
      <p>
        <a href="https://github.com/elven118/QRCodeScan" target="_blank">https://github.com/elven118/QRCodeScan</a>
      </p>
    </div>
  </app-project-desc>
  <app-project-desc class="grid-item" name="HKUCS FYP Ride-sharing App For Hong Kong">
    <app-slider-image image-comp [imagePaths]="[
      'assets/images/ride-sharing-app1.jpg',
      'assets/images/ride-sharing-app2.jpg'
    ]" class="image-container"></app-slider-image>
    <div detail>
      <h3>Overview: </h3>
      <p>Use simple algorithm to pair up two riders and assign a driver for them - one greedy and one advance algorithm.
        Also, a simple mobile app user interface</p>
      <h3>Key Feature: </h3>
      <ul class="key-feature-list">
        <li>Rider-driver pairing using greedy and advanced algorithms</li>
        <li>Route planning with real-time location tracking</li>
        <li>Cross-platform mobile interface compatible with iOS and Android</li>
      </ul>
      <h3>Tech Stack: </h3>
      <p>
        Front-end: React Native + Expo<br />
        Back-end: Nodejs + Expressjs + MongoDB + Redis
      </p>
      <h3>Github Link: </h3>
      <p>
        <a href="https://github.com/eric19960304/Ridesharing-App-For-HK"
          target="_blank">https://github.com/eric19960304/Ridesharing-App-For-HK</a>
        <br />
        <a href="https://github.com/eric19960304/Ridesharing-App-For-HK-Back-End"
          target="_blank">https://github.com/eric19960304/Ridesharing-App-For-HK-Back-End</a>
      </p>
    </div>
  </app-project-desc>
</div>