.section-wrap {
  text-align: center;
  padding: 20px 0;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  display: grid;
  justify-content: stretch;
  align-items: center;
}

.home-section-wrap {
  height: 100%;
}