@import url('../../../palattes.scss');

.cell-container {
  height: 600px;
  width: 100%;
  margin: auto;
  position: relative;
}

.top-right-detail-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  background-color: rgba(var(--black-rgb), 0.8);
  padding: 16px;
  transition: 0.6s ease;
  user-select: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  z-index: 1;
}

.top-right-close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  width: auto;
  transition: 0.6s ease;
  user-select: none;
}

.close-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.top-right-detail-button:hover,
.top-right-close-button:hover {
  color: var(--grey);
}

.content-layer {
  background-color: rgba(var(--black-rgb), 0.8);
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  text-align: start;
  z-index: 2;
  display: none;
}

.content-display {
  display: block;
}

#height56 {
  height: 56px;
}
