<div class="cell-container">
  <a *ngIf="!isDetails" class="top-right-detail-button" (click)="onClickDetails()">
    <fa-layers [fixedWidth]="true" class="svg-icon">
      <fa-icon [icon]="faCircle"></fa-icon>
      <fa-icon [icon]="faInfo"  transform="shrink-6"></fa-icon>
    </fa-layers>
    <span>Details</span>
  </a>
  <ng-content select="[image-comp]"></ng-content>
  <div class="content-layer" [ngClass]="{'content-display': isDetails}">
    <a class="top-right-close-button" (click)="onClickClose()">
      <fa-icon [icon]="faXmark" class="close-icon"></fa-icon>
    </a>
    <div>
      <div id="height56"></div>
      <ng-content select="[detail]"></ng-content>
    </div>
  </div>
</div>